@import '../../../assets/styles/variables.scss';

.container {
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    padding: 35px 0;
}

.title {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.title_text {
    font-size: 30px;
}

.form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.group_form {
    width: 100%;
    margin-bottom: 17px;

    input {
        width: 100%;
        padding: 10px;
    }

    textarea {
        font-family: $poppins-font;
        font-size: 13px;
        width: 100%;
        border: solid 2px $black;
        border-radius: $border-radius;
        padding: 10px;
    }

    textarea:focus {
        outline: none;
        border: solid 3px $royal-blue;
    }
}

.group_form:last-child {
    margin-bottom: 0;
}

.button {
    width: 100%;
    margin: 0 auto;
    background-color: $royal-blue;
    color: $white;
    height: 30px;
    border-radius: $border-radius;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    z-index: 100;
    cursor: pointer;
}

.button:hover {
    background-color: $persian-blue;
    color: $black;
}

.errors {
    color: $tabasco;
}

@include breakpoint(sm) {
    .container {
        width: 50%;
    }
}

@include breakpoint(md) {
    .container {
        width: 40%;
        padding: 50px 0;
    }

    .title {
        margin-bottom: 25px;
    }

    .title_text {
        font-size: 35px;
    }
}

@include breakpoint(lg) {
    .title {
        margin-bottom: 35px;
    }
    .title_text {
        font-size: 40px;
    }
    .form {
        margin: 0 auto;
        width: 65%;
    }
}

@include breakpoint(xl) {
    .container {
        width: 30%;
    }

    .form {
        width: 60%;
    }
}