@import '../../../assets/styles/variables.scss';

.login_container {
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
}

.welcome {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.welcome_title {
    font-size: 30px;
}

.welcome_text {
    font-size: 17px;
    text-align: center;
}

.login_form {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-flow: column nowrap;
}

.group_form {
    width: 100%;
    margin-bottom: 17px;

    input {
        width: 100%;
        padding: 15px;
    }
}

.button {
    width: 100%;
    margin: 0 auto;
    background-color: $royal-blue;
    color: $white;
    height: 30px;
    border-radius: $border-radius;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    z-index: 100;
    cursor: pointer;
}

.button:hover {
    background-color: $persian-blue;
    color: $black;
}

.errors {
    color: $tabasco;
}

@include breakpoint(sm) {
    .login_container {
        width: 50%;
    }

    .welcome_title {
        font-size: 35px;
        padding-bottom: 10px;
    }

    .welcome_text {
        font-size: 20px;
    }
}

@include breakpoint(md) {
    .login_container {
        width: 40%;
        padding: 50px 0;
    }

    .welcome_title {
        font-size: 30px;
    }
}

@include breakpoint(lg) {
    .login_container {
        width: 25%;
        padding: 75px 0;
    }
}

@include breakpoint(xl) {
    .login_container {
        width: 20%;
        padding: 100px 0;
    }

    .welcome_title {
        font-size: 35px;
    }
}