@import "./../../../assets/styles/variables.scss";

$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 48px;

.header {
    height: $header-height;
    background: $black;
    font-family: $poppins-font;
    color: $white;
    width: 100%;
    box-shadow: 0 1px 5px $black;

    &__content {
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 0 0 $spacing-md;
        @include breakpoint(md) {
            padding: 0 0 0 $spacing-lg;
        }
        transition: 0.3s ease padding;

        @include breakpoint(lg) {
            padding: 0 $spacing-xl;
        }
        transition: 0.3s ease padding;

        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo_container {
        width: 43%;
        max-width: 145px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo_link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo_img {
        width: 100%;
    }
}

@include breakpoint(md) {
    .logo_container {
        width: 20%;
    }
}