@import "./../../../assets/styles/variables.scss";

.product {
    margin: 0 auto;
    padding: 25px 40px;
    width: 100%;
    font-family: $poppins-font;
    border: solid 2px $black;
    border-radius: $border-radius;
    background-color: $white;
    transition: transform 400ms;

    .link {
        width: 100%;
        display: block;
    }

    .product_image {
        min-width:230px;
        width: 100%;
        border-radius: $border-radius;
        border: solid 1px $dove-gray;
        height: 240px;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .product_name {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
    }   

    .product_button {
        width: 100%;
        padding: 0 auto;
        margin: 0 auto;
        background-color: $royal-blue;
        color: $white;
        height: 30px;
        border-radius: $border-radius;
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
        z-index: 100;
        cursor: pointer;
    }

    .product_button:hover {
        background-color: $persian-blue;
        color: $black;
    }

    @include breakpoint(sm) {
        width: 90%;
        .product_image {
            min-width: 165px;
            height: 200px;
        }
    }

    @include breakpoint(md) {
        .product_image {
            min-width: 100px;
        }
        .product_button{
            font-size: 12px;
        }
    }

    @include breakpoint(xl) {
        width: 85%;
        .product_image {
            height: 250px;
        }
        .product_button{
            font-size: 14px;
        }
    }
}

.product:hover {
    transform: scale(1.04);
}

#transition {
    position: relative;
     box-shadow: -10px 10px 8px -2px rgba(120,120,120,0.75);
     -webkit-box-shadow: -10px 10px 8px -2px rgba(120,120,120,0.75);
     -moz-box-shadow: -10px 10px 8px -2px rgba(120,120,120,0.75);
}
  
  #transition::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: $border-radius;
     box-shadow: -17px 17px 8px -2px rgba(120,120,120,0.75);
     -webkit-box-shadow: -17px 17px 8px -2px rgba(120,120,120,0.75);
     -moz-box-shadow: -17px 17px 8px -2px rgba(120,120,120,0.75);
    opacity: 0;
    transition: opacity 400ms;
  }
  
  #transition:hover::before {
    opacity: 1;
  }