@import '../../../assets/styles/variables.scss';

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: $oswald-font;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gallery;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.icon_container {
    text-align: center;
    font-size: 120px;
}

.message {
    display: block;
    font-size: 25px;
}

@include breakpoint(sm) {
    .icon_container{
        font-size: 130px;
    }

    .message {
        font-size: 30px;
    }
}

@include breakpoint(md) {
    .icon_container{
        font-size: 140px;
    }

    .message {
        font-size: 35px;
    }
}

@include breakpoint(lg) {
    .icon_container{
        font-size: 150px;
    }

    .message {
        font-size: 40px;
    }
}

@include breakpoint(xl) {
    .icon_container{
        font-size: 170px;
    }

    .message {
        font-size: 50px;
    }
}