@import "./../../../assets/styles/variables.scss";

.products {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 5% 10% 5%;
    height: 100%;

    @include breakpoint(md) {
        padding-bottom: 5%;
    }
}

.product_no_match {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.product__container {
    margin-top: 10%;
    @include breakpoint(sm) {
        width: 50%;
        margin-top: 7%;
    }
    @include breakpoint(md) {
        width: 33%;
        margin-top: 5%;
    }
    @include breakpoint(lg) {
        width: 25%;
    }
}